<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Category</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div>
        <h1>Select Category</h1>
        <input type="text" placeholder="Enter your email" id="emailId">
        <div class="options">
            <label for="category">Select an option:</label>
            <select id="category">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button onclick="sendEmail()">Send Mail</button>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../controllers/criteria.js"></script>
</body>

</html>